{{ define "main" }}
    {{ .Content }}
    <div class="howto-grid">
        {{ range .Pages }}
            <a class="howto-pad" href="{{.Permalink}}">
                <h4>{{.Title}}</h4>
                <p>{{.Params.description}}</p>
                <!-- <a href="{{.Permalink}}"> {{ .Title }}</a> -->
            </a>
        {{ end }}
    </div>
{{ end }}